<ion-view title="Pie Man Status" id="page1" class=" ">
  <ion-content  class="has-header" style="height: 90%">

    <div ng-show="loading" class="row row-center" style="height: 100%">
      <div class="col col-center">
        <ion-spinner class="col col-center text-center"></ion-spinner>
        <h1 class="text-center">Loading</h1>
      </div>
    </div>

    <div ng-hide="loading" class="row" style="height: 100%">
      <div class="col col-center col-100">

        <div ng-show="state == 'In SAC' " class="row">
          <div class="col col-100">
            <h2 class="text-center">Pieman is in SAC</h2>
            <h3 class="text-center">he is leaving in</h3>
          </div>
        </div>

        <div ng-show="state == 'Left SAC'" class="row">
          <div class="col col-100">
            <h1 class="text-center">Pieman has left SAC</h1>
            <h2 class="text-center">he departed</h2>
          </div>
        </div>

        <div ng-show="state == 'Coming To SAC'" class="row">
          <div class="col col-100">
            <h1 class="text-center">Pieman will be in SAC</h1>
            <h2 class="text-center">arriving in</h2>
          </div>
        </div>

        <br>

        <div class="row">
          <!--class="clock1 col col-50 col-offset-25" style="padding-left: 50px"-->
            <div class="clock1" style="margin: auto; width:460px"></div>
        </div>

        <div class="row" ng-show="state == 'Left SAC'">
          <div class="col col-center col-100">
            <h2 class="text-center">ago :'(</h2>
          </div>
        </div>

        <div class="row row-baseline col-center" ng-hide="userData.type != 'pieman'">

          <div class="col col-80 col-center col-offset-10">
            <a ng-click="setTime()" id="pieManStatus-button4" class=" button button-royal button-large button-block icon-right">Update</a>

            <!--<a ng-click="setTimer(30, true)" class=" button button-royal button-large button-block icon-right">Count</a>-->
          </div>

        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
