<ion-view title="Pie Man Status" id="page2" class=" ">
  <ion-content padding="true" class="has-header">
    <div class="row">
      <div class="col col-center text-center">
        <h3>Ey, De pie man in Sac awah?</h3>
        <h4>{{time}}</h4>
        <nvd3 options="options" data="data"></nvd3>
        <h5  style="color:#33CE3F;font-weight:600;text-align:center;" class=" ">{{data[0].y}} {{ data[0].y == 1 ? "Person Says" : "People Say"}} YES</h5>
        <h5  style="color:red;font-weight:600;text-align:center;" class=" ">{{data[1].y}} {{ data[1].y == 1 ? "Person Says" : "People Say"}} NO</h5>
        <h5> Showing reports taken between {{data.start}} and {{data.end}}</h5>
      </div>
    </div>
    <!--<ion-list id="pieManStatus-list3" class=" ">-->
    <!--<ion-item class="balanced  " id="pieManStatus-list-item2">Item 2</ion-item>-->
    <!--<ion-item class="balanced  " id="pieManStatus-list-item1">Item 1</ion-item>-->
    <!--<ion-item class="balanced  " id="pieManStatus-list-item3">Item 3</ion-item>-->
    <!--</ion-list>-->
    <a ng-click="report()" id="pieManStatus-button4" class=" button button-royal button-large button-block icon-right ion-alert ">Make A Report</a>
  </ion-content>
</ion-view>
