<ion-view title="Pie Report" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="pieReport-form3" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="pieReport-toggle2" class=" ">Pie Man On Campus</ion-toggle>
            <h1 id="pieReport-heading2" style="color:#33CE3F;font-weight:600;text-align:center;" class=" ">YES</h1>
            <ion-toggle toggle-class="toggle-positive" id="pieReport-toggle1" class=" ">Confirm Menu?</ion-toggle>
            <ion-checkbox>Fish</ion-checkbox>
            <ion-checkbox>Coconut Roll</ion-checkbox>
            <ion-checkbox>Chicken</ion-checkbox>
            <ion-checkbox>Currants Roll</ion-checkbox>
            <ion-checkbox>Beef</ion-checkbox>
            <ion-checkbox>Cheese</ion-checkbox>
            <ion-checkbox>Macaroni Pie</ion-checkbox>
            <a ui-sref="tabsController.pieManStatus" id="pieReport-button7" class=" button button-assertive  button-block icon-right ion-android-cancel ">Cancel</a>
            <a ui-sref="tabsController.pieManStatus" id="pieReport-button5" class=" button button-royal  button-block icon-right ion-android-send ">Send</a>
        </form>
    </ion-content>
</ion-view>