<ion-view title="Pie Report" id="page7" class=" ">
  <ion-content padding="true" class="has-header">
    <form id="pieReport-form3" class="list ">
      <ion-toggle toggle-class="toggle-positive" ng-model="input.toggle" id="pieReport-toggle2" class=" ">Pie Man On Campus</ion-toggle>
      <h1 ng-if="input.toggle" id="pieReport-heading2" style="color:#33CE3F;font-weight:600;text-align:center;" class=" ">YES</h1>
      <h1 ng-if="!input.toggle" id="pieReport-heading" style="color:red;font-weight:600;text-align:center;" class=" ">NO</h1>
      <ion-toggle ng-show="input.toggle" toggle-class="toggle-positive" ng-model="input.menu" id="pieReport-toggle1" class=" ">Confirm Menu?</ion-toggle>
      <div ng-show="input.menu && input.toggle">
        <ion-checkbox ng-model="input.beef">Beef</ion-checkbox>
        <ion-checkbox ng-model="input.cheese">Cheese</ion-checkbox>
        <ion-checkbox ng-model="input.coconut">Coconut Roll</ion-checkbox>
        <ion-checkbox ng-model="input.chicken">Chicken</ion-checkbox>
        <ion-checkbox ng-model="input.currants">Currants Roll</ion-checkbox>
        <ion-checkbox ng-model="input.fish">Fish</ion-checkbox>
        <ion-checkbox ng-model="input.smoke">Smoked Herring</ion-checkbox>
        <ion-checkbox ng-model="input.macaroni">Macaroni Pie</ion-checkbox>
      </div>
      <a ui-sref="tabsController.pieManStatus" id="pieReport-button7" class=" button button-assertive  button-block icon-right ion-android-cancel ">Cancel</a>
      <a ng-click="send()" id="pieReport-button5" class=" button button-royal  button-block icon-right ion-android-send ">Send</a>
    </form>
  </ion-content>
</ion-view>
