<ion-view title="Report Feed" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
      <h1 class="text-center">Coming Soon!</h1>
        <ion-list id="reportFeed-list5" class=" ">
            <ion-item class="item-icon-left  " id="reportFeed-list-item6">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="reportFeed-list-item4">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="reportFeed-list-item10">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="reportFeed-list-item12">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="reportFeed-list-item11">
                <i class="icon ion-ionic"></i>Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
