<style>

  ion-spinner svg {
    width: 50px !important;
    height: 50px !important;
    stroke: #11c1f3;
    fill: #8577B1;
  }

  .ionic_timepicker_popup .button_set,
  .ionic_timepicker_popup .button_close,
  .ionic_timepicker_popup .heading {
    background-color: #11c1f3;
    color: #ffffff;
  }

  .ionic_datepicker_modal .today {
    border: 1px solid #11c1f3;
  }

  .ionic_datepicker_modal .header,
  .ionic_datepicker_modal .footer,
  .ionic_datepicker_modal .selected_date{
    background-color: #11c1f3;
  }

  .ionic_datepicker_modal .button-clear {
    color: #009688;
  }

  .ionic_datepicker_modal .month_select, .ionic_datepicker_modal .year_select {
    border: none;
    border-bottom: 1px solid #11c1f3;
    padding: 0;
  }

  .ionic_datepicker_modal .month_select, .ionic_datepicker_modal .year_select {
    border: none;
    border-bottom: 1px solid #11c1f3;
    padding: 0;
  }
  .ionic_datepicker_modal .button-clear {
    color: #11c1f3;
  }

  .ionic_datepicker_modal .selected_date {
    background-color: #11c1f3;
  }

  .item-toggle, .item-toggle.item-complex .item-content {
    background-color: #11c1f3;
    border-color: #11c1f3;
    color: white;
  }
</style>

<ion-view title="Pieman v2.1.8" id="page1" ng-cloak style="background-color:#8577B1;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-lock" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div ng-show="output.loading" class="row row-center" style="height: 90vh;">
      <div class="col col-center">
        <ion-spinner  class="col col-center text-center light"></ion-spinner>
        <h4 class="text-center light">loading...</h4>
      </div>
    </div>

    <div ng-hide="output.loading"  class="row" style="padding-top: 3vh; padding-bottom: 1vh">
      <div class="col">
        <div class="row time-to text-center light" style="height: 20vh">
          <div class="col col-100">
            <h1 class="text-center light">{{output.state}}</h1>
            <h1 class="text-center light">{{output.countdown}}</h1>
          </div>
        </div>

        <div class="row row-baseline" style="height: 50vh">
          <div class="col col-80 col-center col-offset-10" ng-show="output.loggedIn">
            <button class="button button-full button-calm"  ng-click="updateTime()">Set Time</button>
          </div>

          <div class="col col-80 col-center col-offset-10" ng-show="!output.loggedIn">

            <h5 class="text-center light">Pieman is notified every 100 pings</h5>
            <button class="button button-full button-calm" ng-disabled="output.pinged" ng-click="ping()">{{output.pinged ? "Ping Sent":"Ping Pieman"}} {{pingObj.count}}/100</button>
            <ion-toggle ng-model="input.notifications" ng-change="toggleNotifications()" class="toggle-calm" toggle-class="toggle-royal">Enable Notifications</ion-toggle>
          </div>
        </div>

        <div class="col col-80 col-center col-offset-10" style="height: 15vh">
          <h5 class="text-center light">App is in {{output.online ? 'online': 'offline'}} mode</h5>
          <h5 class="text-center light" ng-show="output.lastonline != null && !output.loggedIn ">Pieman was last online on {{pretty(output.lastonline)}}</h5>
          <button  class="button button-full button-calm" ng-show="output.update" ng-click="updateApp()">Update Available Click Here</button>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>

<script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal">
      <h1 class="title">Pieman Login</h1>
      <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Passcode</span>
          <input ng-model="input.passcode" type="password">
        </label>
        <button class="button button-full button-calm" ng-click="login(input.passcode)">Login</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="templates/modal2.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal">
      <h1 class="title">Confirm</h1>
      <button class="button button-clear" ng-click="modal2.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list text-center" style="padding-top: 24vh; height: 50vh">
        <h4 class="text-center">Arrival Time: {{pretty(pietime.arrive)}}</h4>
        <h4 class="text-center">Departure Time: {{pretty(pietime.depart)}}</h4>
      </div>
      <div>
        <button class="button button-full button-calm" ng-click="send()">Send</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
