<style>
  .ionic_timepicker_popup .button_set,
  .ionic_timepicker_popup .button_close,
  .ionic_timepicker_popup .heading {
    background-color: #6b46e5;
    color: #ffffff;
  }

  .ionic_datepicker_modal .today {
    border: 1px solid #6b46e5;;
  }

  .ionic_datepicker_modal .header,
  .ionic_datepicker_modal .footer,
  .ionic_datepicker_modal .selected_date{
    background-color: #11c1f3;
  }

  .ionic_datepicker_modal .button-clear {
    color: #009688;
  }

  .ionic_datepicker_modal .month_select, .ionic_datepicker_modal .year_select {
    border: none;
    border-bottom: 1px solid #11c1f3;
    padding: 0;
  }

  .ionic_datepicker_modal .month_select, .ionic_datepicker_modal .year_select {
    border: none;
    border-bottom: 1px solid #11c1f3;
    padding: 0;
  }
  .ionic_datepicker_modal .button-clear {
    color: #11c1f3;
  }

  .ionic_datepicker_modal .selected_date {
    background-color: #11c1f3;
  }
</style>

<ion-view title="Pieman Status" id="page1" style="background-color:#8577B1;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-lock" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>


    <div ng-show="loading" class="row row-center" style="height: 100%">
      <div class="col col-center">
        <ion-spinner class="col col-center text-center"></ion-spinner>
        <h1 class="text-center">Loading</h1>
      </div>
    </div>

    <div ng-hide="loading" class="row" style="height: 100%; padding-top: 2%">
      <div class="col">
        <div class="row time-to text-center light">
          <div class="col col-100">
            <h1 class="text-center light">{{state}}</h1>
            <h1 class="text-center light">{{countdown}}</h1>
          </div>
        </div>

        <div class="row row-baseline">
          <div class="col col-80 col-center col-offset-10">
            <button class="button button-full button-calm" ng-show="loggedIn" ng-click="updateTime()">Set Time</button>
            <ion-toggle ng-model="notifications" ng-change="toggleNotifications()" class="toggle-calm" toggle-class="toggle-calm">Enable Notifications</ion-toggle>
          </div>
        </div>

      </div>
    </div>


  </ion-content>
</ion-view>

<script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal">
      <h1 class="title">Pieman Login</h1>
      <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Passcode</span>
          <input ng-model="passcode" type="password">
        </label>
        <button class="button button-full button-calm" ng-click="login(passcode)">Login</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
