<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Pieman Application">

    <!--ANDROID-->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="img/pieman-192.png">

    <!--IOS-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#886aea">
    <meta name="apple-mobile-web-app-title" content="Piemanr">
    <link rel="apple-touch-icon" href="img/pieman-192.png">
    <link rel="apple-touch-icon-precomposed" href="img/pieman-192.png">

    <!--WINDOWS-->
    <meta name="msapplication-TileImage" content="img/pieman-192.png">
    <meta name="msapplication-TileColor" content="white">

    <link rel="manifest" href="manifest.json">

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Pieman</title>

    <link rel="stylesheet" href="fonts/roboto/css/fonts.css">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="cordova.js"></script>-->

    <!--<script>-->
      <!--if ('serviceWorker' in navigator) {-->
        <!--navigator.serviceWorker.register('service-worker.js')-->
          <!--.then(function(){console.log('service worker installed')})-->
          <!--.catch(function(err){console.log('Error', err)});-->
      <!--}-->
    <!--</script>-->

    <link href="css/ionic.app.css" rel="stylesheet">


    <style type="text/css">
      .platform-ios .manual-ios-statusbar-padding{
        padding-top:20px;
      }
      .manual-remove-top-padding{
        padding-top:0px;
      }
      .manual-remove-top-padding .scroll{
        padding-top:0px !important;
      }
      ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
        margin-left:-10px;
        margin-right:-10px;
      }
      ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
        border-radius:0px;
        border-left:0px;
        border-right: 0px;
      }
    </style>

    <script src="lib/moment/min/moment.min.js"></script>
    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/nvd3/build/nv.d3.min.js"></script>
    <script src="lib/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.min.js"></script>
    <script src="lib/ionic-toast/dist/ionic-toast.bundle.min.js"></script>
    <script src="lib/html5-desktop-notifications2/dist/Notification.min.js"></script>
    <script src="lib/angular-web-notification/angular-web-notification.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>



    <!-- Only required for Tab projects w/ pages in multiple tabs
    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
    -->

  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <div ng-controller="menuCtrl">
    <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-royal">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" id="side-menu21">
            <ion-header-bar class="bar-royal">
                <div class="title">Menu</div>
            </ion-header-bar>
            <ion-content padding="true" class="side-menu-left has-header">
              <h3 ng-if="username == null">Not logged In{{username}}</h3>
              <h3 ng-if="username != null">Logged in as {{username}}</h3>
                <ion-list id="menu-list6" class=" manual-list-fullwidth " data-componentid="list6">
                    <ion-item id="menu-list-item13" ui-sref="tabsController.pieManStatus" menu-close="" class="  " data-componentid="list-item13">Home</ion-item>
                  <ion-item ng-if="username == null" id="menu-list-item16" ui-sref="login" menu-close="" class="  " data-componentid="list-item16">Log In/Sign Up</ion-item>
                  <ion-item ng-if="username != null" id="menu-list-item14" ng-click="logout()" class="  " data-componentid="list-item14">Log out</ion-item>
                  <ion-item ng-if="username == null" id="menu-list-item15" ng-click="anonLogin()" class="  " data-componentid="list-item14">Anonymous Login</ion-item>
                </ion-list>
                <button disabled class="js-push-btn button button-raised button-stable ink-dark">Enable Push Messaging</button>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</div>
  <script src="js/main.js"></script>
  </body>
</html>
